@charset "utf-8";

// 変数
$base-color : #fff;
$brown-color : #4e462c;
$red-color : #bf3e28;
$green-color : #a6be23;

// @がつくもの
@font-face {
  font-family: 'Mokura-font';
  src: url(../fonts/Mokurafont-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'natume-font';
  src: url(../fonts/natumemozi-o.ttf) format("truetype");
}

// 共通設定
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Mokura-font', 'natume-font', serif;
  color: $brown-color;
}

body {
  background-color: $base-color;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.hidden {
  display: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 100px;
}

.flex {
  display: flex;
}

// --------個別設定--------

// -----------header-----------
.header {
  margin-top: 20px;

  h1 {
    margin-bottom: 10px;
  }
}
.headwrapper{
  padding: 10px 30px;
}
.fixedtop {
  position: fixed;
  top: 0;
  height: 120px;
}

.toptea {
  margin-left: 30px;

}

.headmes {
  height: 100px;
  padding: 1.5rem;
  margin-left: 30px;
  margin-top: 50px;
  border: 3px dotted $green-color;
  border-radius: 30px;
  text-align: center;
}

// ---------作品紹介----------
.side-scroll {
  h2 {
    margin: 30px;
  }

  &-list {
    position: absolute;
    display: flex;
  }

  &-item {
    position: relative;
    height: 700px;
    margin-left: 50px;
    max-width: 250px;
    height: auto;
  }
}

.show-pic {
  border: 3px solid $brown-color;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dig {
  height: 40px;
  width: 140px;
  text-align: center;
  background-color: $red-color;
  color: $base-color;
  padding: 10px;
  border-radius: 20px;
}

.otame {
  height: 700px;
  background-color: #a6be23;
}

// ---------自己紹介----------
.intro {
  h2 {
    margin: 30px;
  }
}